body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat, sans-serif';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h3 {
  font-family: "Montserrat-bold";
  font-weight: 1.5rem;
}

h2 {
  font-family: "Montserrat-bold";
  font-size: 3.5rem;
  line-height: 1.5;
}

p {
  color: gray;
}

#title {
  background-color: #ff4c68;
  color: white;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* navbar styling */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 15px;
}

/* download button */
.download-button {
  margin: 5% 3% 5% 0;
}
/* title image */

.title-image {
  width: 20%;
  transform: rotate(20deg);
  position: absolute;
  right: 22%

}
@media (max-width:1020px) {
  #title{
    text-align: center;
  }
  .title-image{
    position:static;
    transform: rotate(0);
  }

}

/* feature */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;

}

.feature-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonials */
#testimonials {

  text-align: center;
  background-color: #ef8172;
  color: white;


}
.carousel-item{
  padding: 7% 15%;
}
.testimonials-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 10%;
}
.press-logo{
  width: 15%;
  margin: 15px 20px 15px;
}

/* pricing */
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}

 /* Call to Action */
#cta{
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 5% 15%;
}
.cta-feature{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 2;
  font-weight: 900;
  margin-bottom: 10px;
}
/* footer */
#footer{
  padding: 7% 15%;
  text-align: center;

}
.footer-icon{

  margin: 20px 10px;
}
